
/* HEADER */

.backgroung {
    background-color: $color-fondo-blue;
}

.backgroung_boton {
    background-color: $color-white;
}

.d-flex {
    padding-left: 0;
}

.nav-item a{
    border: 1px solid transparent;
    color: $color-white;
    font-weight: bold;
}


.nav-item a:hover {
    background-color:$color-grey;
    color: $color-letters-black;
    border: 1px solid black;
    // transition: 0.4s;
}





.conteiner_nav {
    padding: 0 5%;
}


header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    padding-top: 1%;
    padding-bottom: 1%;
}



.nav_link {
    text-decoration: none;
    color: $color-white;
}

li a {
    font-size: 25px;
}