/* CONTACTO */

.formulario {
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;
    padding-bottom: 70px;
}

form {
    text-align: center;
    padding-left: 7%;

    div {
        margin-top: 30px;
    }
}

.contacto {
    display: inline-block;
    width: 100%;
}

.nombre_apellido {
    display: inline-block;
    width: 49%;
    text-align: left;
}

.email {
    text-align: left;
}

.input-nombre {
    width: 80%;
}

.input-email {
    width: 90%;
}

.mensaje {
    text-align: left;
}

.terminos_y_condiciones {
    text-align: left;

    label {
        display: inline-block;
    }
}

label {
    display: block;
    text-align: left;
    font-size: 25px;
    color: $color-white;
}

input {
    font-size: 25px;
}

textarea {
    width: 90%;
    font-size: 25px;
}

.boton_enviar {
    text-align: left;
    margin-top: 0;
}

.contenedor_botton_enviar {
    display: inline-block;
    @include size(90%, 35px);


    button {
        @include size(100%, 100%);
    }
}