

/* GASTRONOMÍA */

.grid-conteiner-gastronomia {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 8% 6%;
    padding: 0 6% 8% 6%;
    grid-template-areas:
        'titulo titulo titulo titulo'
        'card-gastronomia-1 card-gastronomia-2 card-gastronomia-3 card-gastronomia-4'
    ;
}

.card {
    @include size(100%, 100%);
    display: flex;

    &-body {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        align-items: start;
        background-color: $color-fondo-blue;
        height: 220px;
        p {
            font-size: 20px;
            width: 100%;
            color: $color-white;
        }
    }

    &-title {
        font-size: 35px;
        width: 100%;
        color: $color-white;
    }
}



.carousel-item{
    height: 260px;
}

.carousel-item img{
    height: 100%;
    object-fit: cover;
}


.boton {
    width: 100%;
    text-align: right;
    align-self: end;

    a {
        font-size: 14px;
    }
}


.box-gastronomia-titulo {
    @extend .flexible-column;
    @include size(100%, 100%);
}

.box-gastronomia {
    @extend .flexible-column;
    @include size(100%, 100%);

}

.g1 {
    grid-area: titulo;
}

.g2 {
    grid-area: card-gastronomia-1;
}

.g3 {
    grid-area: card-gastronomia-2;
}

.g4 {
    grid-area: card-gastronomia-3;
}

.g5 {
    grid-area: card-gastronomia-4;
}