/* JUEGOS (MAIN) */

main{
    background-color:$color-fondo-main;
}

.home {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
    width: 100%;
    padding: 2% 6%;
}

.conteiner-home {
    text-align: left;
    width: 40%;
    padding-right: 5%;

    &-img {
        @include size(60%, 250px);
    
        img {
            @extend .full-size-img;
        }
    }
}

.home-link li {
    list-style: initial;
    padding-top: 1%;
    color: $color-items;
}

.nav-link a{
    color: $color-white;
}

.home-link li a:hover {
    text-decoration: underline;
}

/* tarjetas (MAIN) */

.conteiner-card {
    padding: 0 7%;
    padding-bottom: 3%;

    &-home {
        display: flex;
        flex-direction: row;
        border: 1px solid $color-white;
        margin-right: 8%;
        margin-top: 3%;
        border-radius: 30px;
        width: 100%;
        flex-wrap: nowrap;
        background-color: $color-fondo-blue;
    
        &-img {
            @include size(30%, 270px);
    
            img {
                @extend .full-size-img;
    
            }
        }

        &-text {
            width: 70%;
            padding: 2% 10%;
        
            h2 {
                text-align: center;
                font-size: 35px;
                padding-bottom: 3%;
            }
        
            p {
                font-size: 25px;
                text-align: justify;
            }
        }
    }
}

.border-right img {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.border-left img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

